{% comment %}V4.0.1 - May 2020
This liquid snippet is used by Discount Ninja, an app from Limoni Apps
Do not modify or remove this snippet, this snippet can be overwritten when the app is upgraded
{% endcomment %}

<div id="limoniapps-giftbox-template" style="display:none;">
  <div class="limoniapps-giftbox-button limoniapps-giftbox-button-md limoniapps-giftbox-button-collapsed limoniapps-animation-done [[HASOFFERCOUNT]] [[POSITION]]">
    <div class="limoniapps-giftbox">
      <div class="limoniapps-giftbox-header">
        <!--<a class="limoniapps-giftbox-close">&times;</a>-->
        <div class="limoniapps-header-details">
          <div class="limoniapps-title">[[HEADER]]</div>
          <div class="limoniapps-subtitle">
            <a class="limoniapps-poweredby limoniapps-notify-poweredby limoniapps-poweredby-hidden maximized" target="_blank" href="https://discountninja.io">Powered By Discount Ninja</a>
          </div>
        </div>
      </div>
      <div class="limoniapps-giftbox-list">
        <div class="limoniapps-list-item-template" style="display:none;">
          <div class="limoniapps-item-img-container">
          </div>
          <div class="limoniapps-item-details">
            <div class="limoniapps-item-body">[[BODY]]</div>
          </div>
        </div>
      </div>
    </div>
    <div class="limoniapps-offercount"></div>
    <a class="limoniapps-giftbox-trigger">
      <svg class="limoniapps-icon limoniapps-icon-collapsed" viewBox="0 0 100 100">
        <defs></defs>
        <g id="icon_3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="noun_Gift_797120" transform="translate(19.000000, 19.000000)" fill="currentColor"
             fill-rule="nonzero">
            <g id="Group">
              <path d="M58.9,15.5 L50.22,15.5 C51.77,13.95 52.7,11.78 52.7,9.3 C52.7,4.03 48.67,0 43.4,0 C40.3,0 34.72,2.79 31,6.51 C27.28,2.79 21.7,0 18.6,0 C13.33,0 9.3,4.03 9.3,9.3 C9.3,11.78 10.23,13.95 11.78,15.5 L3.1,15.5 C1.24,15.5 0,16.74 0,18.6 L0,27.28 C0,27.59 0.31,27.9 0.62,27.9 L26.66,27.9 C27.28,27.9 27.9,27.28 27.9,26.66 L27.9,16.74 C27.9,16.12 28.52,15.5 29.14,15.5 L32.86,15.5 C33.48,15.5 34.1,16.12 34.1,16.74 L34.1,26.66 C34.1,27.28 34.72,27.9 35.34,27.9 L61.38,27.9 C61.69,27.9 62,27.59 62,27.28 L62,18.6 C62,16.74 60.76,15.5 58.9,15.5 Z M18.6,12.4 C16.74,12.4 15.5,11.16 15.5,9.3 C15.5,7.44 16.74,6.2 18.6,6.2 C20.46,6.2 26.04,9.92 27.59,11.78 C26.66,12.09 18.6,12.4 18.6,12.4 Z M43.4,12.4 C43.4,12.4 35.34,12.09 34.41,11.78 C36.27,9.61 41.54,6.2 43.4,6.2 C45.26,6.2 46.5,7.44 46.5,9.3 C46.5,11.16 45.26,12.4 43.4,12.4 Z"
                    id="Shape"></path>
              <path d="M26.66,34.1 L3.72,34.1 C3.41,34.1 3.1,34.41 3.1,34.72 L3.1,58.9 C3.1,60.76 4.34,62 6.2,62 L26.66,62 C27.28,62 27.9,61.38 27.9,60.76 L27.9,35.34 C27.9,34.72 27.28,34.1 26.66,34.1 Z"
                    id="Shape"></path>
              <path d="M58.28,34.1 L35.34,34.1 C34.72,34.1 34.1,34.72 34.1,35.34 L34.1,60.76 C34.1,61.38 34.72,62 35.34,62 L55.8,62 C57.66,62 58.9,60.76 58.9,58.9 L58.9,34.72 C58.9,34.41 58.59,34.1 58.28,34.1 Z"
                    id="Shape"></path>
            </g>
          </g>
        </g>
      </svg>
      <svg class="limoniapps-icon limoniapps-icon-open" width="14" height="14" fill="currentColor">
        <path d="M13.978 12.637l-1.341 1.341L6.989 8.33l-5.648 5.648L0 12.637l5.648-5.648L0 1.341 1.341 0l5.648 5.648L12.637 0l1.341 1.341L8.33 6.989l5.648 5.648z"
              fill-rule="evenodd"></path>
      </svg>
    </a>
  </div>
</div>