{% comment %}V4.0.1 - May 2020
This liquid snippet is used by Discount Ninja, an app from Limoni Apps
Do not modify or remove this snippet, this snippet can be overwritten when the app is upgraded
{% endcomment %}

<div id="limoniapps-discountninja-popup-template" style="display:none;">
  <div data-token="[[TOKEN]]" class="limoniapps-popup limoniapps-size-[[SIZE]] limoniapps-overlay-[[BACKGROUNDOVERLAY]] limoniapps-shape-[[SHAPE]] limoniapps-align-[[CONTENTALIGNMENTHORIZONTAL]] limoniapps-action-[[BUTTONPLACEMENT]] limoniapps-content-[[CONTENTALIGNMENTVERTICAL]]">
    <div class="limoniapps-popup-vertical-alignment-helper">
      <div class="limoniapps-popup-vertical-align-center">
        <div class="limoniapps-content">
          <div class="limoniapps-content-inner">
            <a class="limoniapps-close" data-notify="dismiss">
              <div class="limoniapps-close-x">×</div>
            </a>
            <div class="limoniapps-body">
              <a class="limoniapps-poweredby limoniapps-popup-poweredby limoniapps-poweredby-hidden" target="_blank" href="https://discountninja.io">Powered By Discount Ninja</a>
              <div class="limoniapps-box">
                <div class="limoniapps-message-header-row">
                  <div class="limoniapps-message-header">[[HEADER]]</div>
                </div>
                <div class="limoniapps-message-body-row">
                  <div class="limoniapps-message-body">[[BODY]]</div>
                </div>
                <div class="limoniapps-message-footer-row">
                  <div class="limoniapps-message-footer">[[FOOTER]]</div>
                </div>
              </div>
              <div class="limoniapps-footer-inner">
                <div class="limoniapps-action">
                  <button type="button" class="limoniapps-action-btn limoniapps-action-btn-1 limoniapps-action-btn-[[ACTIONBUTTON1STYLE]] [[ACTIONBUTTON1SIZE]]" data-action="apply">
                    <div class="limoniapps-action-btn-label">[[ACTIONBUTTON1LABEL]]</div>
                  </button>
                  <button type="button" class="limoniapps-action-btn limoniapps-action-btn-2 limoniapps-action-btn-[[ACTIONBUTTON2STYLE]] [[ACTIONBUTTON2SIZE]]" data-action="learnmore">
                    <div class="limoniapps-action-btn-label">[[ACTIONBUTTON2LABEL]]</div>
                  </button>
                </div>
                <a class="limoniapps-lnk-dismiss">[[NOTHANKSBUTTONLABEL]]</a>
              </div>
            </div>
          </div>
          <div class="limoniapps-footer-outer">
            <div class="limoniapps-action">
              <button type="button" class="limoniapps-action-btn limoniapps-action-btn-1 limoniapps-action-btn-[[ACTIONBUTTON1STYLE]] [[ACTIONBUTTON1SIZE]]" data-action="apply">
                <div class="limoniapps-action-btn-label">[[ACTIONBUTTON1LABEL]]</div>
              </button>
              <button type="button" class="limoniapps-action-btn limoniapps-action-btn-2 limoniapps-action-btn-[[ACTIONBUTTON2STYLE]] [[ACTIONBUTTON2SIZE]]" data-action="learnmore">
                <div class="limoniapps-action-btn-label">[[ACTIONBUTTON2LABEL]]</div>
              </button>
            </div>
            <a class="limoniapps-lnk-dismiss">[[NOTHANKSBUTTONLABEL]]</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>