{% comment %}V4.0.1 - May 2020
This liquid snippet is used by Discount Ninja, an app from Limoni Apps
Do not modify or remove this snippet, this snippet can be overwritten when the app is upgraded
{% endcomment %}

<div id="limoniapps-discountninja-stickybar-template" class="limoniapps-sticky-bar-wrapper" style="display:none;">
  <div class="limoniapps-sticky-bar [[FLAGS]]" data-token="[[TOKEN]]">
    <div class="limoniapps-box" style="min-height:[[HEIGHT]]px">
      <a class="limoniapps-poweredby limoniapps-stickybar-poweredby limoniapps-poweredby-hidden" target="_blank" href="https://discountninja.io">Powered By Discount Ninja</a>
      <a class="limoniapps-close" data-notify="dismiss">
        <div class="limoniapps-close-x">×</div>
      </a>
      <div class="limoniapps-content [[WIDTH]]" style="min-height:[[HEIGHT]]px">
        <div class="limoniapps-col-image" style="min-width:[[HEIGHT]]px;min-height:[[HEIGHT]]px">
          <div class="limoniapps-image"></div>
        </div>
        <div class="limoniapps-col-info">
          <div class="limoniapps-info">
            <div class="limoniapps-message limoniapps-message-body">[[BODY]]</div>
            <div class="limoniapps-message limoniapps-message-timerfooter">[[TIMER_FOOTER]]</div>
          </div>
          <div class="limoniapps-col-actions">
            <div class="limoniapps-action button1">
              <button type="button" class="limoniapps-action-btn limoniapps-action-btn-[[ACTIONBUTTON1_STYLE]] [[ACTIONBUTTON1_SIZE]]" data-action="[[ACTIONBUTTON1_ACTION]]">
                <div class="limoniapps-action-btn-label">[[ACTIONBUTTON1_LABEL]]</div>
              </button>
            </div>
            <div class="limoniapps-action button2">
              <button type="button" class="limoniapps-action-btn limoniapps-action-btn-[[ACTIONBUTTON2_STYLE]] [[ACTIONBUTTON2_SIZE]]" data-action="[[ACTIONBUTTON2_ACTION]]">
                <div class="limoniapps-action-btn-label">[[ACTIONBUTTON2_LABEL]]</div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>