{% comment %}V4.0.1 - May 2020
This liquid snippet is used by Discount Ninja, an app from Limoni Apps
Do not modify or remove this snippet, this snippet can be overwritten when the app is upgraded
{% endcomment %}

<div id="limoniapps-promotionsummary-template" style="display:none;">
  <div class="limoniapps-discountninja-subtotalcomment-summary-table" data-token="ALL-TOKENS">
    <div class="limoniapps-discountninja-subtotalcomment-summary-header" style="[[SHOWHEADER]]">[[HEADER]]</div>
    <div class="limoniapps-discountninja-subtotalcomment-summary-body">[[BODY]]</div>
    <div class="limoniapps-discountninja-subtotalcomment-summary-promotioncodefield" style="[[SHOWPROMOTIONCODEFIELD]]"></div>
    <div class="limoniapps-discountninja-subtotalcomment-summary-footer" style="[[SHOWFOOTER]]">[[FOOTER]]</div>
  </div>
</div>
<div id="limoniapps-promotionsummary-row-template" style="display:none;">
  <div class="limoniapps-discountninja-subtotalcomment-summary-row">[[ROW]]</div>
</div>