<div id="content">
  <div class="container">
    {% include 'breadcrumb' %}
    <div class="title clearfix">
      <h1>{{ 'general.404.title' | t }}</h1>
    </div>
    <div class="page_content">
      <div class="row">
        <div class="col-sm-12">
          <div class="sfbox box-page">
            <div class="rte">
              {{ 'general.404.subtext_html' | t }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>